*.iml
.gradle
.claude
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/yatool.xml
/.idea/httpRequests/
/.idea/dataSources/
/.idea/dataSources.local.xml
/.idea/sonarlint/
/.idea/shelf/
/.idea/usage.statistics.xml
/.idea/dictionaries/
/.idea/tasks.xml
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
